{% extends "base.html" %}
{% block content %}

<h1 class="text-center mt-2">Chamado detalhado: </h1>
    <div class="d-flex justify-content-center">
        <ul class="list-group">
        <li class="list-group-item"><b>Id: </b> {{ chamado.id }}</li>
        <li class="list-group-item"><b>Requerente: </b> {{ chamado.requerente }}</li>
        <li class="list-group-item"><b>Título: </b> {{ chamado.titulo }}</li>
        <li class="list-group-item"><b>Descrição: </b> {{ chamado.descricao }}</li>
        <li class="list-group-item"><b>Status: </b> {{ chamado.status }}</li>
        <li class="list-group-item"><b>Responsável: </b>  {{ chamado.responsavel|default:"-" }} </li>
        <li class="list-group-item"><b>Solução: </b>  {{ chamado.solucao|default:"-" }} </li>
        <li class="list-group-item"><b>Criado em: </b> {{ chamado.created_at|date:"d/m/Y H:i" }}</li>
        <li class="list-group-item"><b>Atualizado em: </b> {{ chamado.updated_at|date:"d/m/Y H:i" }}</li>
        </ul>
    </div>

<h3 class="mb-3 text-primary text-center">Imagens do Chamado</h3>

{% with imagens=chamado.anexos.all %}
{% if imagens %}
<div class="row row-cols-2 row-cols-md-3 row-cols-lg-5 g-2 justify-content-center text-center">
    {% for anexo in imagens %}
        {% if ".jpg" in anexo.arquivo.url|lower or ".jpeg" in anexo.arquivo.url|lower or ".png" in anexo.arquivo.url|lower %}
        <div class="col d-flex justify-content-center">
            <div class="card shadow-sm border-0" style="width: 200px;">
                <img src="{{ anexo.arquivo.url }}"
                     class="card-img-top img-thumbnail"
                     alt="imagem"
                     style="height: 200px; object-fit: cover;">
            </div>
        </div>
        {% endif %}
    {% endfor %}
</div>
{% else %}
    <p class="text-danger fw-bold text-center">Nenhuma imagem enviada para este chamado.</p>
{% endif %}
{% endwith %}




    <div class="d-flex justify-content-center mt-3">
        {% if chamado.status != 'concluido' and 'aberto' %}
        <form action="{% url 'admin_chamado_retornar' chamado.pk %}" method='POST'>
            {% csrf_token %}
            <button type="submit" class="btn btn-success btn-sm me-2">Voltar a fila</button>
        </form>
        {% endif %}
        <a href="{% url 'admin_chamado_delete' chamado.pk %}" class="btn btn-sm btn-danger me-2">Excluir</a>
        <a href="{% url 'admin_chamado_edit' chamado.pk %}" class="btn btn-sm btn-primary me-2">Editar</a>
        <a href="{% url 'admin_dashboard' %}" class="btn btn-sm btn-secondary ">Voltar</a>
    </div>

{% endblock %}