{% extends "base.html" %}
{% block content %}

<h1 class="text-center mt-2">Chamado detalhado: </h1>
    <div class="d-flex justify-content-center">
        <ul class="list-group">
        <li class="list-group-item"><b>Id: </b> {{ chamado.id }}</li>
        <li class="list-group-item"><b>Requerente: </b> {{ chamado.requerente }}</li>
        <li class="list-group-item"><b>Título: </b> {{ chamado.titulo }}</li>
        <li class="list-group-item"><b>Descrição: </b> {{ chamado.descricao }}</li>
        <li class="list-group-item"><b>Status: </b> {{ chamado.status }}</li>
        <li class="list-group-item"><b>Responsável: </b>  {{ chamado.responsavel }} </li>
        <li class="list-group-item"><b>Criado em: </b> {{ chamado.created_at|date:"d/m/Y H:i" }}</li>
        <li class="list-group-item"><b>Atualizado em: </b> {{ chamado.updated_at|date:"d/m/Y H:i" }}</li>
        </ul>

    </div>

<div class="container my-4">
    <h3 class="mb-3 text-primary">Imagens do Chamado</h3>

    {% with imagens=chamado.anexos.all %}
    {% if imagens %}
        <div class="row g-3">
            {% for anexo in imagens %}
                {% if ".jpg" in anexo.arquivo.url|lower or ".jpeg" in anexo.arquivo.url|lower or ".png" in anexo.arquivo.url|lower %}
                <div class="col-6 col-md-3">
                    <div class="card shadow-sm border-0">
                        <img src="{{ anexo.arquivo.url }}"
                             class="card-img-top img-thumbnail"
                             alt="imagem"
                             style="cursor: pointer;"
                             data-bs-toggle="modal"
                             data-bs-target="#imagemModal{{ forloop.counter }}">
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    {% else %}
        <p class="text-danger fw-bold">Nenhuma imagem enviada para este chamado.</p>
    {% endif %}
    {% endwith %}

    <hr class="my-4">

    <div>
        {% if chamado.status != 'concluido' %}
        <h2 class="mb-3 text-success">Concluir Chamado</h2>
        <form method="POST" action="{% url 'chamado_concluir' chamado.pk %}" enctype="multipart/form-data" class="border p-3 rounded shadow-sm bg-light">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary w-100">Concluir Chamado</button>
        </form>
        {% else %}
            <div class="alert alert-success mt-3" role="alert">
                Chamado já concluído.
            </div>
        {% endif %}
    </div>

    <div class="d-flex justify-content-center mt-3">
        <a href="{% url 'chamado_fila' %}" class="btn btn-warning">
            Voltar
        </a>
    </div>
</div>
{% endblock %}
