{% extends "base.html" %}
{% block content %}

<h1 class="text-center mt-2">Chamado detalhado: </h1>
    <div class="d-flex justify-content-center">
        <ul class="list-group">
        <li class="list-group-item"><b>Id: </b> {{ chamado.id }}</li>
        <li class="list-group-item"><b>Requerente: </b> {{ chamado.requerente }}</li>
        <li class="list-group-item"><b>Título: </b> {{ chamado.titulo }}</li>
        <li class="list-group-item"><b>Descrição: </b> {{ chamado.descricao }}</li>
        <li class="list-group-item"><b>Status: </b> {{ chamado.status }}</li>
        <li class="list-group-item"><b>Responsável: </b>  {{ chamado.responsavel }} </li>
        <li class="list-group-item"><b>Criado em: </b> {{ chamado.created_at|date:"d/m/Y H:i" }}</li>
        <li class="list-group-item"><b>Atualizado em: </b> {{ chamado.updated_at|date:"d/m/Y H:i" }}</li>
        </ul>

    </div>

            <h3>Imagens do Chamado</h3>

            {% with imagens=chamado.anexos.all %}
            {% if imagens %}
                <div>
                {% for anexo in imagens %}
                    {% if ".jpg" in anexo.arquivo.url|lower or ".jpeg" in anexo.arquivo.url|lower or ".png" in anexo.arquivo.url|lower %}
                    <div>
                        <img src="{{ anexo.arquivo.url }}" 
                        alt="imagem"
                        style="width: 150px;">
                    </div>
                    
                    {% endif %}
                    
                {% endfor %}
                </div>
            {% else %}
                <p style="color:red;">Nenhuma imagem enviada para este chamado.</p>
            {% endif %}
            {% endwith %}


    <div class>
    {% if chamado.status != 'concluido' %}
    <h2>Concluir Chamado</h2>
        <form method="POST" action="{% url 'chamado_concluir' chamado.pk %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Concluir Chamado</button>
        </form>
    {% else %}
        <p>Chamado já concluído.</p>
    {% endif %}
    </div>

    <div class="d-flex justify-content-center mt-3">
        <a href="{% url 'chamado_fila' %}" class="btn btn-sm btn-warning">Voltar</a>
    </div>

{% endblock %}