<div class="modal-header">
  <h5 class="modal-title">Editar tarefa</h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
</div>

<div class="modal-body">
  <div class="d-flex justify-content-center">
    <form method="post" action="{% url 'kanban_update' tarefa.pk %}">
      {% csrf_token %}
          <div class="mb-3">
            {{ form.titulo.label_tag }}
            {{ form.titulo }}
            {{ form.titulo.errors }}
            </div>

            <div class="mb-3">
            {{ form.descricao.label_tag }}
            {{ form.descricao }}
            {{ form.descricao.errors }}
            </div>

          {% if form.instance.responsavel %}
            <div class="mb-3">
            {{ form.responsavel.label_tag }}
            {{ form.responsavel }}
            {{ form.responsavel.errors }}
            </div>
          {% endif %}

      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-success">Salvar</button>
      </div>
      
    </form>
  </div>
</div>