{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="d-flex align-items-center mb-3">
        <h1 class="me-3 mb-0">Quadro Kanban</h1>
        <button class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#createModal"
            data-url="{% url 'kanban_create' %}">
            Criar nova tarefa
        </button>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header bg-secondary text-light">
                A fazer
            </div>
            {% for tarefa in todo %}
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-secondary-subtle">
                    <a href="{% url 'kanban_detail' tarefa.pk %}"
                        class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                        {{ tarefa.titulo }}
                    </a>
                    <div class="d-flex mt-1">
                        <form action="{% url 'kanban_aceitar' tarefa.pk %}" method='POST'>
                            {% csrf_token %}
                            <button type="submit" class="btn btn-success btn-sm me-2">Aceitar</button>
                        </form>
                        {% if tarefa.criado_por == request.user %}
                        <button class="btn btn-primary btn-sm me-2" data-bs-toggle="modal" data-bs-target="#editModal"
                            data-url="{% url 'kanban_update' tarefa.pk %}">
                            Editar
                        </button>
                        {% endif %}
                    </div>
                </li>
            </ul>
            {% empty %}
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-secondary-subtle">Não há nada aqui!</li>
            </ul>
            {% endfor %}
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-header bg-primary text-light">
                Sendo feito
            </div>
            {% for tarefa in doing %}
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-primary-subtle">
                    <a href="{% url 'kanban_detail' tarefa.pk %}"
                        class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                        {{ tarefa.titulo }} - <strong>{{ tarefa.responsavel.username }}</strong>
                    </a>
                    {% if tarefa.responsavel == request.user %}
                    <div class="d-flex mt-1">
                        <form action="{% url 'kanban_retornar' tarefa.pk %}" method='POST'>
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm me-2">Retornar</button>
                        </form>
                        <form action="{% url 'kanban_concluir' tarefa.pk %}" method='POST'>
                            {% csrf_token %}
                            <button type="submit" class="btn btn-success btn-sm">Concluir</button>
                        </form>

                    </div>
                    {% endif %}
                </li>
            </ul>
            {% empty %}
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-secondary-subtle">Não há nada aqui!</li>
            </ul>
            {% endfor %}
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-header bg-success text-light">
                Finalizado
            </div>
            {% for tarefa in done %}
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-success-subtle">
                    <a href="{% url 'kanban_detail' tarefa.pk %}"
                        class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                        {{ tarefa.titulo }}
                    </a>
                </li>
            </ul>
            {% empty %}
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-secondary-subtle">Não há nada aqui!</li>
            </ul>
            {% endfor %}
        </div>
    </div>
</div>



<!-- Modal vazio -->
<div class="modal fade" id="editModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- o form virá aqui via fetch -->
        </div>
    </div>
</div>

<div class="modal fade" id="createModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- o form virá aqui via fetch -->
        </div>
    </div>
</div>

{% endblock %}