<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste Django</title>
</head>
<body>
    <h1>Produtos</h1>

    <a href="{% url 'chamado_create' %}">Novo Chamado</a>
    <ul>
        {% for chamado in chamados %}
        <li>
            {{ chamado.titulo }} - R$ {{ chamado.descricao }}
            <a href="{% url 'chamado_update' chamado.pk %}">Editar</a>
            <a href="{% url 'chamado_delete' chamado.pk %}">Excluir</a>
        </li>
        {% endfor %}
    </ul>
    
</body>
</html>